.container {
    height: calc(100vh - 60px);
    display: block;
}

body {
    overflow-anchor: none;
}

.first-section {
    margin-top: 60px;
}

.secondary-color {
    background-color: #f5f5f5;
}

.section {
    display: block;
    max-height: 100vh;
}

footer {
    border-radius: 5px;
    margin-bottom: 100px;
}