.container {
    height: calc(100vh - 60px);
    display: block;
}

body {
    overflow-anchor: none;
    transition: all .3s;
}

.first-section {
    margin-top: 60px;
}

.secondary-color {
    background-color: #f5f5f5;
}

.section {
    display: block;
    overflow-anchor: none;
    height: fit-content;
    min-height: calc(100vh - 60px);
}

.footer {
    transition: all .3s;
    padding: 10px 8px;
    border-radius: 5px;
    margin-top: 50px;
}

.footer h3 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.badge {
    transition: all .3s;
    margin-left: 5px;
}


a:hover {
    cursor: pointer;
}


.card {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    border: none;
    margin: 10px;
    min-width: calc(33% - 30px);
    max-width: 400px;
    max-height: 350px;
    transition: all .3s;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    transform: scale(1.03);
}

.card-img-top {
    max-height: 100px;
    object-fit: contain;
    margin: 10px 0px;
}

.mail_link {
    text-decoration: none;
}

.mail_link:hover {
    text-decoration: underline;
}

/* media 785px */
@media (max-width: 785px) {

    .footer {
        display: none;
    }

}