.container {
    height: calc(100vh - 60px);
    display: block;
}

body {
    overflow-anchor: none;
}

.first-section {
    margin-top: 60px;
}

.secondary-color {
    background-color: #f5f5f5;
}

.section {
    display: block;
    overflow-anchor: none;
    height: fit-content;
    min-height: calc(100vh - 60px);
}

.footer {
    padding: 10px 8px;
    border-radius: 5px;
    margin-top: 50px;
}

.footer h3 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.badge {
    margin-left: 5px;
}

.card {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    border: none;
}

/* media 785px */
@media (max-width: 785px) {

    .footer {
        display: none;
    }

}