@import url('base.css');

.img-div {
    width: 50%;
    margin: 0 auto;
}

.buy-div {
    width: fit-content;
    margin: 10px auto;
}

.img-product {
    max-width: 90%;
    margin: auto 0;
}

.card {
    margin: 10px;
    min-width: calc(33% - 30px);
    max-width: 400px;
    max-height: 350px;
}

.card-img-top {
    max-height: 100px;
    object-fit: contain;
    margin: 10px 0px;
}