@import url('base.css');

root {
    height: fit-content;
}

html {
    height: fit-content;
}

body {
    height: 100%;
}

#container {
    padding-top: 75px;
    height: fit-content;
    min-height: calc(100vh - 60px);
}

.img-div {
    width: 50%;
    margin: 0 auto;
}

.buy-div {
    width: fit-content;
    margin: 20px auto;
}

.img-product {
    max-width: 90%;
    margin: auto 0;
}

.validate-div {
    width: fit-content;
    margin: 20px auto;
}

.card {
    margin: 10px;
    min-width: calc(34% - 20px);
    max-width: 300px;
    max-height: 350px;
}

.card-img-top {
    max-height: 100px;
    object-fit: contain;
    margin: 10px 0px;
}
