<h3>Actions</h3>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#add" aria-selected="true"
           role="tab">Ajouter</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#delete" aria-selected="false" role="tab"
           tabindex="-1">Supprimer</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="add" role="tabpanel">
        <h3>Ajouter un produit</h3>
        <div class="form-group mt-3">
            <input type="email" class="form-control" id="name" aria-describedby="emailHelp"
                   placeholder="Nom">
            <small class="form-text text-muted">Nom du produit</small>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="category" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small class="form-text text-muted">Catégorie du produit</small>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="price" aria-describedby="emailHelp"
                   placeholder="Prix">
            <small class="form-text text-muted">Prix du produit</small>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="description" rows="3">Description...</textarea>
            <small class="form-text text-muted">Description du produit</small>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="image" aria-describedby="emailHelp"
                   placeholder="Url">
            <small class="form-text text-muted">URL vers l'image du prduit</small>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success" id="add_product">Ajouter</button>
        </div>
    </div>
    <div class="tab-pane fade" id="delete" role="tabpanel">
        <div class="form-group mt-3">
            <input type="number" class="form-control" id="product_id" aria-describedby="emailHelp"
                   placeholder="Identifiant">
            <small class="form-text text-muted">Identifiant du produit dans la base de données</small>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success" id="delete_product">Supprimer</button>
        </div>
    </div>
</div>