<div class="d-block">
    <div class="d-block">
        <div class="d-lg-flex d-print-block">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produit Flash</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Catégorie</h6>
                    <p class="card-text">Some quick example text to build on the Produit Flash and make up the
                        bulk
                        of
                        the
                        card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                    <a href="#" class="card-link">Vendeur</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produit Flash</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Catégorie</h6>
                    <p class="card-text">Some quick example text to build on the Produit Flash and make up the
                        bulk
                        of
                        the
                        card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                    <a href="#" class="card-link">Vendeur</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produit Flash</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Catégorie</h6>
                    <p class="card-text">Some quick example text to build on the Produit Flash and make up the
                        bulk
                        of
                        the
                        card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                    <a href="#" class="card-link">Vendeur</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block">
        <div class="d-lg-flex d-print-block">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produit Flash</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Catégorie</h6>
                    <p class="card-text">Some quick example text to build on the Produit Flash and make up the
                        bulk
                        of
                        the
                        card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                    <a href="#" class="card-link">Vendeur</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produit Flash</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Catégorie</h6>
                    <p class="card-text">Some quick example text to build on the Produit Flash and make up the
                        bulk
                        of
                        the
                        card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                    <a href="#" class="card-link">Vendeur</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produit Flash</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Catégorie</h6>
                    <p class="card-text">Some quick example text to build on the Produit Flash and make up the
                        bulk
                        of
                        the
                        card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                    <a href="#" class="card-link">Vendeur</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block">
        <div class="d-lg-flex d-print-block">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produit Flash</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Catégorie</h6>
                    <p class="card-text">Some quick example text to build on the Produit Flash and make up the
                        bulk
                        of
                        the
                        card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                    <a href="#" class="card-link">Vendeur</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produit Flash</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Catégorie</h6>
                    <p class="card-text">Some quick example text to build on the Produit Flash and make up the
                        bulk
                        of
                        the
                        card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                    <a href="#" class="card-link">Vendeur</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Produit Flash</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Catégorie</h6>
                    <p class="card-text">Some quick example text to build on the Produit Flash and make up the
                        bulk
                        of
                        the
                        card's content.</p>
                    <a href="#" class="card-link">Détails</a>
                    <a href="#" class="card-link">Vendeur</a>
                </div>
            </div>
        </div>
    </div>
</div>